<div class="modal fade" id="edit-profile-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <%= render 'edit_personal_information_form' %>
        <%= render 'edit_location_form' %>
        <button id='profile-edit-form-submit' class='btn btn-lg btn-primary'>Update Profile</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->