<% @profiles.each do |p| %>
	<% if p.first_name || p.last_name %>
		<ul>
			<li><%= link_to p.full_name, profile_path(p) %></li>
			<% if p.location %>
				<li><%= p.location.city %> / <%= p.location.country %></li>
			<% end %>
		</ul>
		<hr />
	<% end %>
<% end %>

<%= paginate @profiles %>