<div class="landing-container">
	<div class="logo-container">
		<div class="logo center-block">
			<%= image_tag("gohuckleberry.com-logo-black.png", class: "img-responsive") 
			%>
		</div>
	</div>
</div>