<h1>Welcome to Huckleberry!</h1>

<% if user_signed_in? == false %>
	<ul>
		<li><%= link_to 'Create an Account', new_user_registration_path %></li>
		<li><%= link_to 'Sign in to your Account', new_user_session_path %></li>
	</ul>
<% else %>
	<ul>
		<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		<li><%= link_to 'Edit your Profile', edit_profile_path(@profile) %></li>
	</ul>
<% end %>